@using NewsPortal.Application
@inherits LayoutComponentBase
@inject AppState AppState
@inject NavigationManager Navigation

<div class="page">
    @*     *@ 
    @* <div> *@
        @if (AppState.IsLoggedIn)
        {
        <div class="sidebar">
                <NavMenu />
        </div>
            
        }
        
    @* </div> *@

    <main>
        <div class="top-row px-4">
            @* <a href="Register" target="_blank">SignUp</a> *@



            @if(AppState.IsLoggedIn)
            {
                <ProfileDropDown />
            }

        </div>



        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    
}