@using NewsPortal.Application
@rendermode InteractiveServer
@inject AppState AppState
@inject NavigationManager Navigation


@if (isLoading)
{
    
    <div class="d-flex align-items-center">
       @*  <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Logging out...</span>
        </div> *@
        <span class="ms-2">Logging out...</span>
    </div>
}
else
{
    <a @onclick ="Logout">Logout</a>
    @*class="btn btn-link"*@
}


@code {

    private bool isLoading = false;

    private async Task Logout()
    {
        isLoading = true;
        await Task.Delay(1000);
        AppState.Logout();
        Navigation.NavigateTo("/");
    }
}
